<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <header class="row mt-2 mb-5">
            <section class="col leftspace mt-2">
              <span class="whitecolor">CodeArlines</span>              
           </section>
      
            <section class="col">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="whitecolor">English</span>
                            
                          </a>
                          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">English</a></li>
                            <li><a class="dropdown-item" href="#">Frensh</a></li>
                            <li><a class="dropdown-item" href="#">Arabic</a></li>
                          </ul>
                        </li>
                      </ul>
            </section>
              <section class="col mt-2">
                <a  class="btn btn-light">
                  <span>LOG IN</span> 
                </a>
              </section>
        </header>
           <div class="row topspace">
            <div class="col-md-4 text-center mr3 mb3">
                    <h3 class="whitecolor">
                        It's time to Check-in!
                    </h3>
                  <span class="whitecolor">You can Check-In online 24 hours before your flight</span>  
            </div>
            <div class="col-md-6">
                <form>
                   <div class="form-group">
                    <div class="bottomspace col-sm-8">
                        <label  class="form-label">
                          <span class="whitecolor">
                            Reservation Code,
                            ConnectMiles Number, or E-Ticket Number
                          </span>
                        </label>
                        <input type="text" class="form-control"  placeholder="Enter Code/Number">
                      </div>
                      <div class="bottomspace col-sm-8">
                        <label  class="form-label whitecolor">Last Name</label>
                        <input type="text" class="form-control" placeholder="Enter Last Name">
                      </div>
                      <div class="d-grid gap-1 col-sm-8">
                          <button class="btn btn-primary" type="button">Find Your Reservation</button>
                        </div>
                   </div>
                  </form>
            </div>
           </div> 
  
</body>
</html>

